ErrorDocument 404 /Forum/NotFound

RewriteEngine ON

RewriteRule ^home$ index.php
RewriteRule ^NotFound$ index.php?p=404
RewriteRule ^forbidden$ index.php?p=forbidden

RewriteRule ^subscribe$ index.php?p=subscribe
RewriteRule ^login$ index.php?p=login
RewriteRule ^logout$ index.php?p=logout

RewriteRule ^profile$ index.php?p=profile
RewriteRule ^public-profile/([a-zA-Z0-9]+)$ index.php?p=public-profile&pseudo=$1

RewriteRule ^edit-profile$ index.php?p=edit_profile
RewriteRule ^edit-avatar$ index.php?p=edit_avatar

RewriteRule ^recuperation-mail$ index.php?p=recuperation_mail
RewriteRule ^recuperation-code$ index.php?p=recuperation_code
RewriteRule ^reset-password$ index.php?p=reset_password

RewriteRule ^webmaster-forum$ index.php?p=forum

RewriteRule ^topics/([a-zA-Z\-]+)/([a-zA-Z\-\+]+)/([0-9]+)-([0-9a-zA-Z]+)$ index.php?p=topics&category=$1&subcategory=$2&id=$3&page=$3

RewriteRule ^topics/([a-zA-Z\-]+)/([0-9]+)-([0-9a-zA-Z]+)$ index.php?p=topics&category=$1&id=$2&page=$3

RewriteRule ^topics/([0-9a-zA-Z]+)$ index.php?p=topics&page=$1

RewriteRule ^add-topic$ index.php?p=add-topic

RewriteRule ^topic/([a-zA-Z]+)-([0-9]+)-([0-9]+)$ index.php?p=topic&id=$2&page=$3

RewriteRule ^edit-message-([0-9]+)$ index.php?p=edit-message&id=$1
RewriteRule ^edit-topic-([0-9]+)$ index.php?p=edit-topic&id=$1
RewriteRule ^delete-topic-([0-9]+)$ index.php?p=delete-topic&id=$1

RewriteRule ^admin$ index.php?p=admin

RewriteRule ^admin/delete-topic-([0-9]+)$ index.php?p=admin-delete-topic&id=$1

RewriteRule ^admin/delete-message-([0-9]+)$ index.php?p=admin-delete-message&id=$1

RewriteRule ^blog$ index.php?p=blog
RewriteRule ^post/([0-9]+)$ index.php?p=post&id=$1
RewriteRule ^add-post$ index.php?p=add-post