/***************************
		CORPS DU SITE
****************************/
body, html
{
	height: 100%;
	font-family: 'Nanum Gothic', sans-serif;
	word-wrap: break-word;
	margin: 0;
	padding: 0;
}

a
{
	text-decoration: none;
	color: white;
	border: none;
}

#main-container, #contains
{
	height: auto;
	padding: 0; 
}

.page
{
	padding-top: 100px;
}

.frontpage 
{
	margin-top: 159px;
}

.page a 
{
	color: #0aa2cb;
}

.avatar img
{
	width: 170px;
}

.avatar-topic img
{
	width: 100px;
}

.resolved
{
	color: green;
}

/***************************
			BUTTON 
****************************/
/*CALL TO ACTION*/
.call-to-action
{
	margin-top: 40px;
	max-width: 150px;
	width: 100%;
	height: 40px;
	background-color: #0aa2cb;
	border: none;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	padding: 0;
}

.call-to-action a 
{
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

.call-to-action:hover
{
	box-shadow: 0 0 10px #0aa2cb;
}

.cancel
{
	background-color: red;
	border: 2px solid red;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	padding: 5px 30px;
}

/*BUTTON SUBMIT*/

input[type="submit"]
{
	background-color: #0aa2cb;
	border: 2px solid #0aa2cb;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	padding: 5px 30px;
}

input[type="submit"]:hover
{
	background-color: transparent;
	color: #0aa2cb;
}

/***************************
			FORM
****************************/

.form input[type='text'], .form input[type='email'],
.form input[type='password'], .form select
{
	box-sizing: border-box;
	width: 80%;
	background-color: rgba(255, 255, 255, 0.6);
	border: 2px solid transparent;
	padding: 10px;
}

.form label
{
	display: inline-block;
	margin-bottom: 5px;
}

.form textarea
{
	width: 80%;
	height: 300px;
}

.error
{
	color: red;
	border: 1px solid red;
	padding: 5px;
	background-color: rgba(255, 0, 0, 0.1);
}

.success
{
	color: green;
	border: 1px solid green;
	padding: 5px;
	background-color: rgba(0, 255, 0, 0.1);
}

/***************************
			TABLE
****************************/

.tb
{
	margin-bottom: 50px;
	border-collapse: collapse;
	background-color: #FFFFFF;
}

.tb	th, .tb	td
{
	padding: 15px;
	border: 1px solid rgba(0, 0 , 0, 0.2);
}

.tb	th
{
	font-size: 1.1em;
}

.tb thead, .tb tfoot
{
	background-color: #0aa2cb;
	color: white;
	text-align: center;
}

.tb tfoot a
{
	color: white;
}

/***************************
			WIDGET
****************************/
.widget-container
{
	display: flex;
	justify-content: stretch;
	align-items: stretch;
}

.widget
{
	padding: 100px;
	display: block;
	width: 100%;
	text-align: center;
}

.widget .icon-widget
{
	margin-bottom: 60px;
}

.widget .fas
{
	border-bottom: 1px solid black;
	padding-bottom: 15px;
}


/***************************
		MAIN HEADER
****************************/
header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 0 20px;
	height: 100px;
	box-shadow: 0 0 10px black;
	background-color: rgb(76, 76, 76);
	z-index: 998;
}

#logo img
{
	width: 150px;
}

/***************************
			MENU
****************************/
header nav, header nav ul, header nav li, header nav li a
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0;
}

header nav ul li 
{
	margin: 5px;
	min-width: 150px;
}

header nav ul li a 
{
	width: 100%;
}

header nav ul li a:hover
{
	border-bottom: 5px solid #0aa2cb;
	background-color: #7a7a7a;
}

.hamburger
{
	display: none;
}

/***************************
			MENUBIS
****************************/
#menuBis
{
	position: fixed;
	top: 100px;
	right: 0;
	left: 0;
	background-color: #0aa2cb;
	display: flex;
	z-index: 999;
}

#menuBis > ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
}

#menuBis > ul > li > a
{
	padding: 20px 30px;
}

#menuBis a 
{
	display: inline-block;
}

.submenu
{
	display: none;
	position: absolute;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #0aa2cb;
	width: 280px;
}

#menuBis > ul > li:hover .submenu
{
	display: block;
}

.submenu > li > a
{
	padding: 20px 30px;
	width: 100%;
	box-sizing: border-box;
}

.submenu > li > a:hover
{
	background-color: #5e6063;
}

.submenu li
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/***************************
		MAIN FOOTER
****************************/
footer 
{
	text-align: center;
	background-color: rgb(76, 76, 76);
	color: white;
	padding: 30px;
}

/***************************
		HOMEPAGE
****************************/
#home-page
{
	height: 100%;
}

/*** SLIDER ***/
#slider
{
	background-image: url('/Forum/public/images/bg4.jpg');
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#slider-content
{
	padding: 50px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 5px;
}

/*** WIDGET ***/
.wd-1, .wd-3
{
	background-color: #e2e2e2;
}

.wd-2
{
	background-color: white;
}

.wd-4
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #b5b5b5;
}

#last-topic
{
	text-align: left;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 40px;
	color: white;
}

.wd-4 h4 a
{
	color: #0aa2cb;
}

.wd-4 h3
{
	text-align: center;
	font-size: 1.4em;
	margin-bottom: 40px;
}

/***************************
		SUBCRIBE PAGE
****************************/

#subscribe-page
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: url('/Forum/public/images/bg5.jpg');
	background-size: cover;
	min-height: 100vh;
}

#subscribe-form
{
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	max-width: 550px;
	padding: 0 50px;
}

#subscribe-form aside h3
{
	margin: 50px 0;
}

/***************************
		LOGIN PAGE
****************************/
#login-page
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url('/Forum/public/images/bg5.jpg');
	background-size: cover;
	min-height: 100vh;
}
	
#login-content
{
	padding: 60px; 
	min-height: 400px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

#login-content h2
{
	margin-bottom: 50px;
	text-align: center!important;	
}

.log-form input[type='text'], .log-form input[type='email'], .log-form input[type='password']
{
	width: 90%;
	padding: 10px;
}

.log-form 
{
	text-align: center;
	margin-bottom: 40px;
}

.log-form label
{
	margin-right: 10px;
}

/***************************
			PROFILE
****************************/
#profile-page
{
	background-color: #f4f4f4;
}

#profile-content
{
	display: flex;
	align-items: flex-start;
	padding: 100px 50px;
}

#profile-content aside
{
	padding: 10px;
	margin-right: 100px;
}

#profile-info
{
	flex: 1;
}

#profile-info fieldset
{
	border: 5px solid rgb(76, 76, 76);
}

#profile-description .description-content
{
	background-color: #FFFFFF;
	padding: 10px;
	min-height: 300px;
	margin-bottom: 20px;
}

#profile-description .fa-edit:hover
{
	cursor: pointer;
}

#resolved-form 
{
	text-align: center;
	padding: 20px;
	background-color: #d8d8d8;
}

#resolved-form p:first-child
{
	font-weight: bold;
}

/***************************
		EDIT PROFILE
****************************/

#edit-page
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('/Forum/public/images/bg5.jpg');
	background-size: cover;
	min-height: 100vh;
	color: white;
}

#edit-form h2
{
	margin-bottom: 30px;
}

#edit-form
{
	background-color: rgba(0, 0, 0, 0.7);
	padding: 50px;
	max-width: 500px;
	width: 100%; 
	text-align: center;
}

/*** description ***/

#description-container
{
	display: none;
}

.text-edit
{
	height: 300px;
	width: 100%;
}

/***************************
		EDIT AVATAR
****************************/

#edit-avatar-page
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('/Forum/public/images/bg5.jpg');
	background-size: cover;
	height: 100vh;
	color: white;
}

#edit-avatar-form
{
	border: 1px solid black;
	padding: 50px;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
}

#edit-avatar-form h2, p
{
	margin-bottom: 30px;
}

/***************************
	RECUP PASSWORD PAGE
****************************/

.recup-password-page
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('/Forum/public/images/bg5.jpg');
	background-size: cover;
}

.form-recup-pass
{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 80px;
	color: white;
	text-align: center;
}

.form-recup-pass h2
{
	margin-bottom: 40px;
}

.form-recup
{
	margin-bottom: 40px;
}

.form-recup .fa-at, .form-recup .fa-key
{
	margin-right: 5px;
}

/***************************
		FORUM PAGE 
****************************/
#forum-page, #topics-page
{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	padding: 100px 0;
	background-color: #f4f4f4;
}

.row-category, .row-topics
{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	max-width: 800px;
}

#forum-page section, #topics-page section
{
	padding: 50px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	background-color: #FFFFFF;
}

#forum-page section hr:last-child, #topics-page section hr:last-child
{
	display: none;
}

.category, .row-category aside, .topics, .row-topics aside
{
	margin: 10px 20px;
}

#side-info
{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	max-width: 500px;
	width: 100%;
}

#forum-page hr
{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#forum-page p:first-child
{
	text-align: right;
}
/***************************
	TABLE FORUM ASIDE
****************************/
#tb-last-topics, #tb-last-posts
{
	max-width: 350px;
	width: 100%;
	box-sizing: border-box;
}

#tb-last-topics tbody, #tb-last-posts tbody
{
	display: block;
	overflow-y: scroll;
	height: 450px;
}

#tb-last-topics tbody::-webkit-scrollbar,
#tb-last-posts tbody::-webkit-scrollbar
{
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.4);
	width: 3px;
}

#tb-last-topics tbody::-webkit-scrollbar-thumb, 
#tb-last-posts tbody::-webkit-scrollbar-thumb
{
	background-color: #0aa2cb;
	border-radius: 5px;
}


/***************************
		TOPICS PAGE
****************************/
#topics-page
{
	margin-top: 100px;
	background-color: #f4f4f4;
}


#add-topic-page
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url('/Forum/public/images/bg5.jpg');
	background-size: cover;
	min-height: 100vh;
}
	
.form-topic
{
	padding: 60px; 
	max-width: 600px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

.form-topic textarea
{
	width: 100%;
	height: 300px;
}

.form-topic input[type='text'], .log-form input[type='email'], .log-form input[type='password']
{
	width: 90%;
	padding: 10px;
}

.form-topic
{
	text-align: center;
	margin-bottom: 40px;
}

.form-topic label
{
	margin-right: 10px;
}

/***************************
		 ONE TOPIC PAGE
****************************/

#one-topic-page
{
	max-width: 1024px;
	margin: 100px auto;
}



#one-topic-page h1
{
	border: 1px solid black;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	background-color: rgb(76, 76, 76);
	color: white;
}

#one-topic-page section
{
	display: flex;
	background-color: #dedee0;
	min-height: 300px;
	height: 100%;  
}

#comment-form-topic
{
	margin-top: 20px;
	border: 1px solid black;
	background-color: #dedee0;
	padding: 30px;
	text-align: center;
}

.avatar-topic, .topic-content 
{
	padding: 50px 10px;
	border: 1px solid black;
}

.avatar-topic
{
	min-width: 150px;
	text-align: center;
}

.topic-content 
{
	flex: 1;
	box-sizing: border-box;
}

.topic-content p
{
	font-weight: bold;
	margin-bottom: 0;
}

.topic-text
{
	padding: 5px;
	box-sizing: content-box;
	margin-top: 10px;
}


