/***************************
		CORPS DU SITE
****************************/
body, html
{
	height: 100%;
	margin: 0;
	font-family: 'Bitter', serif;
}

a
{
	text-decoration: none;
	color: white;
	border: none;
}

#main-container, #contains
{
	height: 100%;
}

.page
{
	margin-top: 100px;
	height: 100%;
}

.page a 
{
	color: #0aa2cb;
}

/***************************
			BUTTON 
****************************/
/*CALL TO ACTION*/
.call-to-action
{
	margin-top: 40px;
	max-width: 150px;
	width: 100%;
	height: 40px;
	background-color: #0aa2cb;
	border: none;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	padding: 0;
}

.call-to-action a 
{
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

.call-to-action:hover
{
	box-shadow: 0 0 10px #0aa2cb;
}

/*BUTTON SUBMIT*/

input[type="submit"]
{
	background-color: #0aa2cb;
	border: 2px solid #0aa2cb;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	padding: 5px 30px;
}

input[type="submit"]:hover
{
	background-color: transparent;
	color: #0aa2cb;
}

/***************************
			FORM
****************************/
.form input[type='text'], .form input[type='email'], .form input[type='password']
{
	box-sizing: border-box;

	padding: 5px;
	width: 100%;
}

.form label
{
	display: inline-block;
	margin-bottom: 5px;
}

.error
{
	color: red;
}

/***************************
			WIDGET
****************************/
.widget-container
{
	display: flex;
	justify-content: stretch;
	align-items: stretch;
}

.widget
{
	padding: 100px 0;
	width: 100%;
	text-align: center;
}

.widget .icon-widget
{
	margin-bottom: 60px;
}

.widget .fas
{
	border-bottom: 1px solid black;
	padding-bottom: 15px;
}

/***************************
		MAIN HEADER
****************************/
header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 0 20px;
	height: 100px;
	box-shadow: 0 0 10px black;
	background-color: rgb(76, 76, 76);
}

#logo img
{
	width: 150px;
}

/***************************
			MENU
****************************/
nav, nav ul, nav li, nav li a
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0;
}

nav ul li 
{
	margin: 5px;
	width: 150px;
}

nav ul li a 
{
	width: 100%;
}

nav ul li a:hover
{
	border-bottom: 5px solid #0aa2cb;
	background-color: #7a7a7a;
}

.hamburger
{
	display: none;
}

/***************************
		HOMEPAGE
****************************/

/*** SLIDER ***/
#slider
{
	background-image: url('/Forum/public/images/slider3.jpg');
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#slider-content
{
	padding: 50px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	border-radius: 5px;
}

/*** WIDGET ***/
.wd-1, .wd-3
{
	background-color: #e2e2e2;
}

.wd-4
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('/Forum/public/images/banner/banner.jpg');
}

#last-topic
{
	padding: 50px 80px;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

.wd-4 h3
{
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 40px;
}

/***************************
		SUBCRIBE PAGE
****************************/

#subscribe-page
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	background: url('/Forum/public/images/bg.jpg');
	background-size: cover;
}

#subscribe-form
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 100px 0;
	color: white;
}

#subscribe-form aside
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#subscribe-form .sub-form
{
	width: 400px;
	padding: 10px;
}

/***************************
		SUBCRIBE PAGE
****************************/
#login-page
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	background: url('/Forum/public/images/bg.jpg');
	background-size: cover;
}
	
#login-content
{
	padding: 60px; 
	height: 400px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

#login-content h2
{
	margin-bottom: 50px;
	text-align: center!important;	
}

.log-form input[type='text'], .log-form input[type='email'], .log-form input[type='password']
{
	width: 90%;
	background-color: rgba(255, 255, 255, 0.6);
	border: none;
	padding: 10px;
}

.log-form 
{
	text-align: center;
	margin-bottom: 40px;
}

.log-form label
{
	margin-right: 10px;
}