/***************************
		CORPS DU SITE
****************************/
body, html
{
	margin: 0;
	font-family: 'Bitter', serif;
}

a
{
	text-decoration: none;
	color: white;
	border: none;
}

#main-container
{
	min-height: 100vh;
	margin-top: 100px;
}

.page a 
{
	color: #0aa2cb;
}

.avatar img
{
	width: 170px;
}

/***************************
			BUTTON 
****************************/
/*CALL TO ACTION*/
.call-to-action
{
	margin-top: 40px;
	max-width: 150px;
	width: 100%;
	height: 40px;
	background-color: #0aa2cb;
	border: none;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	padding: 0;
}

.call-to-action a 
{
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

.call-to-action:hover
{
	box-shadow: 0 0 10px #0aa2cb;
}

.cancel
{
	background-color: red;
	border: 2px solid red;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	padding: 5px 30px;
}

/*BUTTON SUBMIT*/

input[type="submit"]
{
	background-color: #0aa2cb;
	border: 2px solid #0aa2cb;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	padding: 5px 30px;
}

input[type="submit"]:hover
{
	background-color: transparent;
	color: #0aa2cb;
}

/***************************
			FORM
****************************/
.form input[type='text'], .form input[type='email'], .form input[type='password']
{
	box-sizing: border-box;
	padding: 5px;
	width: 100%;
}

.form label
{
	display: inline-block;
	margin-bottom: 5px;
}

.error
{
	color: red;
	border: 1px solid red;
	padding: 5px;
	background-color: rgba(255, 0, 0, 0.1);
}

.success
{
	color: green;
	border: 1px solid green;
	padding: 5px;
	background-color: rgba(0, 255, 0, 0.1);
}

/***************************
			WIDGET
****************************/
.widget-container
{
	display: flex;
	justify-content: stretch;
	align-items: stretch;
}

.widget
{
	padding: 100px;
	display: block;
	width: 100%;
	text-align: center;
}

.widget .icon-widget
{
	margin-bottom: 60px;
}

.widget .fas
{
	border-bottom: 1px solid black;
	padding-bottom: 15px;
}


/***************************
		MAIN HEADER
****************************/
header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 0 20px;
	height: 100px;
	box-shadow: 0 0 10px black;
	background-color: rgb(76, 76, 76);
}

#logo img
{
	width: 150px;
}

/***************************
			MENU
****************************/
nav, nav ul, nav li, nav li a
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0;
}

nav ul li 
{
	margin: 5px;
	min-width: 150px;
}

nav ul li a 
{
	width: 100%;
}

nav ul li a:hover
{
	border-bottom: 5px solid #0aa2cb;
	background-color: #7a7a7a;
}

.hamburger
{
	display: none;
}

/***************************
		MAIN FOOTER
****************************/
footer 
{
	text-align: center;
	background-color: rgb(76, 76, 76);
	color: white;
	padding: 30px;
}

/***************************
		HOMEPAGE
****************************/
#home-page
{
	height: 100%;
}

/*** SLIDER ***/
#slider
{
	background-image: url('/Forum/public/images/slider3.jpg');
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#slider-content
{
	padding: 50px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	border-radius: 5px;
}

/*** WIDGET ***/
.wd-1, .wd-3
{
	background-color: #e2e2e2;
}

.wd-4
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('/Forum/public/images/banner/banner.jpg');
}

#last-topic
{
	padding: 50px 80px;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

.wd-4 h3
{
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 40px;
}

/***************************
		SUBCRIBE PAGE
****************************/

#subscribe-page
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: url('/Forum/public/images/bg.jpg');
	background-size: cover;
	min-height: 100vh;
}

#subscribe-form
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 100px 0;
	color: white;
}

#subscribe-form aside
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#subscribe-form .sub-form
{
	width: 400px;
	padding: 10px;
}

/***************************
		LOGIN PAGE
****************************/
#login-page
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url('/Forum/public/images/bg.jpg');
	background-size: cover;
	min-height: 100vh;
}
	
#login-content
{
	padding: 60px; 
	min-height: 400px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

#login-content h2
{
	margin-bottom: 50px;
	text-align: center!important;	
}

.log-form input[type='text'], .log-form input[type='email'], .log-form input[type='password']
{
	width: 90%;
	background-color: rgba(255, 255, 255, 0.6);
	border: none;
	padding: 10px;
}

.log-form 
{
	text-align: center;
	margin-bottom: 40px;
}

.log-form label
{
	margin-right: 10px;
}

/***************************
			PROFILE
****************************/
.banner
{
	background-image: url('/Forum/public/images/bg.jpg');
 	background-size: cover;  
 	min-height: 200px;
 	padding: 20px 0;
 	color: white;
 	display: flex;
 	justify-content: center;
 	align-items: center;
}

.banner h1
{
	display: block;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 20px 50px;
}

#profile-page
{
	background-color: #eaeaea;
}

#profile-content
{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 100px 50px;
}

#profile-content aside
{
	background-color: #f4f5f7;
	padding: 10px;
	margin-right: 100px;
}

#profile-info
{
	flex: 1;
}

#profile-info fieldset
{
	border: 5px solid rgb(76, 76, 76);
}

#profile-description .description-content
{
	background-color: #f4f5f7;
	padding: 10px;
	min-height: 300px;
}

#profile-description .fa-edit:hover
{
	cursor: pointer;
}

/***************************
		EDIT PROFILE
****************************/

#edit-page
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('/Forum/public/images/bg.jpg');
	background-size: cover;
	height: 100vh;
}

#edit-form h2
{
	margin-bottom: 30px;
}

#edit-form
{
	background-color: rgba(255, 255, 255, 0.8);
	padding: 50px;
}

#description-container
{
	display: none;
}

.text-edit
{
	height: 300px;
	width: 100%;
}

/***************************
		EDIT AVATAR
****************************/

#edit-avatar-page
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('/Forum/public/images/bg.jpg');
	background-size: cover;
	height: 100vh;
	color: white;
}

#edit-avatar-form
{
	border: 1px solid black;
	padding: 50px;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
}

#edit-avatar-form h2, p
{
	margin-bottom: 30px;
}

/***************************
	RECUP PASSWORD PAGE
****************************/

#recup-password-page
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('/Forum/public/images/bg.jpg');
	background-size: cover;
}

.form-recup-pass
{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 80px;
	color: white;
	text-align: center;
}

.form-recup-pass h2
{
	margin-bottom: 40px;
}

.form-recup input[type="mail"]
{
	width: 80%;
	background-color: rgba(255, 255, 255, 0.6);
	border: none;
	padding: 10px;
}

.form-recup
{
	margin-bottom: 40px;
}

.fa-at
{
	margin-right: 5px;
}